In [82]:
#Script de lectura de Data Frame Retail
import pandas as pd

try:
    '''script_dir = os.path.dirname(os.path.abspath(__file__))
    file_path = os.path.join(script_dir,'../data/retail_store_sales.csv')
    df = pd.read_csv(file_path)'''
    df = pd.read_csv('../data/retail_store_sales.csv')
    print('File load completed succesfully.')
except FileNotFoundError as e:
    print(f"File not found: {e}")

File load completed succesfully.

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [84]:
#Normaliza las columnas a snake_case
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')

In [85]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors = 'coerce')

In [86]:
#Diccionario para reemplazar los valores na por valores funcionales
fill_na_dict = {
    'item': 'Unknown', #Desconocido
    'price_per_unit': df['price_per_unit'].mean().round(2), #La media de precios
    'quantity': df['quantity'].mean().round(2), #La media de cantidad
    'discount_applied': False #Falso por defecto
}

df = df.fillna(fill_na_dict)

C:\Users\juan_\AppData\Local\Temp\ipykernel_20496\39863796.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(fill_na_dict)

In [87]:
#Reemplaza el valor gastado na por la multiplicacion del precio y cantidad
df['total_spent'] = df['total_spent'].fillna(df['price_per_unit']*df['quantity'])

In [88]:
#Normaliza espacios y convierte los textos en minusculas
text_columns = df.select_dtypes(include=['object']).columns
df[text_columns] = df[text_columns].apply(lambda x: x.str.strip().str.lower())