In [6]:
#Script de lectura de Data Frame Retail
import pandas as pd

try:
    df = pd.read_csv('../data/retail_store_sales.csv')
    print('File load completed succesfully.')
except FileNotFoundError as e:
    print(f"File not found: {e}")

File load completed succesfully.

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    12575 non-null  str
 1   customer_id       12575 non-null  str
 2   category          12575 non-null  str
 3   item              12575 non-null  str
 4   price_per_unit    12575 non-null  float64
 5   quantity          12575 non-null  float64
 6   total_spent       12575 non-null  float64
 7   payment_method    12575 non-null  str
 8   location          12575 non-null  str
 9   transaction_date  12575 non-null  datetime64[us]
 10  discount_applied  12575 non-null  object
dtypes: datetime64[us](1), float64(3), object(1), str(6)
memory usage: 1.8+ MB

In [3]:
#Normaliza las columnas a snake_case
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    12575 non-null  object
 1   customer_id       12575 non-null  object
 2   category          12575 non-null  object
 3   item              11362 non-null  object
 4   price_per_unit    11966 non-null  float64
 5   quantity          11971 non-null  float64
 6   total_spent       11971 non-null  float64
 7   payment_method    12575 non-null  object
 8   location          12575 non-null  object
 9   transaction_date  12575 non-null  object
 10  discount_applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [103]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors = 'coerce')

In [ ]:
#Diccionario para reemplazar los valores na por valores funcionales
fill_na_dict = {
    'item': 'Unknown', #Desconocido
    'price_per_unit': df['price_per_unit'].mean().round(2), #La media de precios
    'quantity': df['quantity'].mean().round(2), #La media de cantidad
    'discount_applied': False #Falso por defecto
}

df = df.fillna(fill_na_dict)

In [105]:
#Reemplaza el valor gastado na por la multiplicacion del precio y cantidad
df['total_spent'] = df['total_spent'].fillna(df['price_per_unit']*df['quantity'])

In [106]:
#Normaliza espacios y convierte los textos en minusculas
text_columns = df.select_dtypes(include=['object']).columns
df[text_columns] = df[text_columns].apply(lambda x: x.str.strip().str.lower())